*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    display: flex;
    height: 100vh;
    height: 100svh;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
}
.container {
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #eee;
    text-align: center;
}
#instructions {
    font-size: 10px;
    user-select: none;
    margin-block: 5px;
}
button {
    margin: 5px;
    padding: 10px;
    font-size: 12px;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
}
textarea {
    resize: none;
    padding: 5px;
    font-size: 12px;
    margin-top: 5px;
    border-radius: 5px;
    width: calc(100% - 50px);
    height: calc(100% - 100px);
}
